body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #04ADB4;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.coming-soon {
    margin-top: 2rem;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}